@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Akbar";
}

@font-face {
    font-family: "Akbar";
    src: local("Akbar"),
     url("./fonts/akbar.woff") format("truetype");
    font-weight: bold;
    }
    
h1 {
    font-family: "Akbar";
}